@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;&display=swap');
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
* { box-sizing: border-box;
    list-style: none;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #2e6ea4 url('data:image/svg+xml,%3Csvg width="64" height="64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z" fill="%239C92AC" fill-opacity="0.4" fill-rule="evenodd"/%3E%3C/svg%3E');
}
header {
    position: relative;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    line-height: .25;
    width:100%;
    height: auto;
    text-align: center;
}
header, footer, footer p {
    background: #044881;
    margin: 0;
    color: #FEE339;
    text-shadow: .05em .05em .05em black;
}
header div {
    position: absolute;
    padding-top: 3em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
main {
    min-width: 490px;
    max-width: 1024px;
    height: 100%;
    padding-top: 150px;
    padding-left: 1em;
    padding-right: 1em;
    margin: auto;   
}
h2, h3 {
    color: #5eb500;
    text-shadow: .05em .05em .05em black;
    text-align: center;
}
article {
    width: 100%;
    padding: 1.5em;
    margin-top: 1.5em;
    background: #fffad8;
    border: 10px solid #044881;
    box-shadow: 0 0 7px 3px rgba(0,0,0,0.5);
}
#title { 
    font-size: 2em;
    font-weight: bold;
    color: #FEE339;
    text-shadow: .1em .1em .075em black;
/*
    color: #5eb500;
    text-shadow: .1em .1em .075em black; 
*/
    width: 100%;
    height: auto;
}
#globalnav {
    background: #044881;
    overflow: hidden;
    height: calc(55px + 1.5em);
    transition: height ease-in-out 1s;
/*POSITION CHANGE*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
}
#globalnav.nav_open {
    height: 275px;
    background: #044881;
}
#globalnav ul {
    clear: both;
    padding-top: 1em;
    padding-left: 0;
}
#globalnav ul li a {
    color: #fffad8;
    text-decoration: none;
    font-weight: bold;
    display: block;
    background: #2e6ea4;
    width: 100%;
    border: 2px solid #fffad8;
    text-align: center;
}
#globalnav ul li a:hover {
    background: #5EB500;
    text-shadow: .05em .05em .05em black;
    font-weight: bold;
}
#desktop {
    padding-top: 69px;
    width: 100%;
    height: auto;
    opacity: .8;
}
#menu {
    float: right;
    width: 85%;
    display: block;
}
#logo img {
    float: left;
    width:  2em;
    margin: 1.5em 1.25em;
}
#menu img {
    float: right;
    width:  2em;
    margin: 1.5em 1.25em;
    z-index: 900;
}
#menu img:hover {
    background: #5EB500;
    border-radius: 3px;
    border: #fffad8 2px solid;
}
#about {
    margin-top: -130px;
    text-indent: 1.5em;
    text-align: center;
/*    text-align: justify;*/
}
#one {
    text-align: justify;
}
#about blockquote {
    text-indent: -.1em;
    text-align: center;
}
#what ol li{
  font-weight: bold;  
}
.column {
    display: flex;
    flex-direction: column;
    column-width: auto;
    height: 60vh;
    flex-wrap: wrap;
    border: 2.5px solid #044881;
    justify-content: center;
    text-align: center;
}
.column div {
    width: 44%;
}
.column div#academic {
    border-left: 2.5px solid #044881;
}
.row {
  display: flex;
  border-right: 2.5px solid #044881;
  border-bottom: 2.5px solid #044881;
  border-left: 2.5px solid #044881;
  flex-wrap: wrap;
  justify-content: space-around;
}
.row div {
  width: 90%;
    text-indent: 1.5em;
    text-align:center;
}
#how {
    text-indent: 1.5em;
    text-align: justify;
}
#possible {
    text-align: center;
}
#location {
    text-align: center;
}
#location li a {
    margin-left: -36px;
    color: #044881;
    font-weight: bold;
}
#location li a:hover {
    color: #5eb500;
    text-shadow: .05em .05em .05em black;
}
#support {
    text-align: center;
}
#contact img {
    opacity: .75;
}
#contact img:hover {
    opacity: 1;
}
footer {
    height: 5em;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    font-weight: bold;
    padding-top: 2em;
    padding-left: 2.5em;
}
#backtotop {
    position: fixed;
    right: 10px;
    bottom: 55px;
    color: #fffad8;
    text-decoration: none;
    font-weight: bold;
    background: #044881;
    border: 2px solid #fffad8;
    border-radius: 50%;
    padding: 6px 11.5px;
    width: 35px;
    height: 35px; 
}
#backtotop:hover {
    background: #5EB500;
}
@media screen and (min-width: 480px) {
    main {
        width: 65%;
        padding-top: 150px;
        padding-bottom: 5%;
    }
    #globalnav {
        width: 100%;
    }
    #title {
        padding-top: 8em;
        font-size: 1em;
    }
    #contact img {
        width: 50px;
        height: auto;
    }
}
@media screen and (min-width: 600px) {
    #title {
        font-size: 1.5em;
    }
}
@media screen and (min-width: 900px){
    #globalnav, #globalnav.nav_open {
        height: auto;
    }
@media screen and (min-width: 900px){ 
    #globalnav ul {
        float: left;
        padding-left: 8em;
        width: 100%;
        margin-top: -4.75em;
        font-size: .8em;
    }
    #globalnav ul li {
        float: left;
        width: 15.5%;
        margin-right: 5px;
    }
    #menu {
        display:inherit;
    }
    #menu.hoover {
        display: none;
    }
    #menu img {
        display:none;
    }
    main {
        width: 80%;
    }
    #title {
        padding-top: 8em;
        font-size: 2em;
    }
    #contact img{
        float: left;
        margin-left: 3.5em;
        width: 64px;
        height: auto;
    }
    #backtotop {
        right: 5.25em;
        bottom: 5.75em;
    }
}















